<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JustShortIt</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/css/main.min.css" asp-append-version="true" />
</head>
<body class="flex flex-col min-h-screen">
    <nav class="navbar bg-primary text-primary-content p-0 min-h-0" aria-label="main navigation">
        <div class="flex-1">
            <a class="btn btn-ghost rounded-none px-6" href="https://github.com/miawinter98/just-short-it" target="_blank">
                <figure>
                    <img class="w-8 h-8" src="/img/jsi-logo.png" width="400" alt="" />
                </figure>
                Just Short It!
            </a>
        </div>
        <div class="flex-none mr-6">
            <partial name="_LoginPartial"/>
        </div>
    </nav>

    <main class="flex-1 container mx-auto px-8 py-8 grid">
        @RenderBody()
    </main>

    <footer class="footer footer-center py-10 bg-primary text-secondary-content">
        <aside class="">
            <p>
                <a class="hover:link" href="https://github.com/miawinter98/just-short-it" target="_blank">Just Short it!</a> 
                by <a class="hover:link" href="https://miawinter.de/" target="_blank">Mia Winter</a>.
            </p>
            <p>
                <a class="hover:link" href="/about">About</a>
            </p>
        </aside>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>