@if (User.Identity?.IsAuthenticated is true) {
    <span class="mx-3">@User.Identity.Name</span>
    <a class="button is-ghost" asp-page="Logout">Logout</a>
} else {
    <a class="button is-ghost" asp-page="Login">Login</a>
}