@inherits LayoutComponentBase

@using JustShortIt.Components.Partials

<div class="flex flex-col min-h-screen">
    <HeaderPartial />

    <main class="flex-1 container mx-auto px-8 py-8 grid">
        @Body
    </main>

    <FooterPartial />
</div>
