@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="flex flex-col gap-4">
    <h1 class="text-3xl lg:text-5xl text-error">Error.</h1>
    <h2 class="text-2xl lg:text-4xl text-secondary-content">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>