@page "{Id?}"
@model IndexModel
@{
    ViewData["Title"] = "Startpage";
}

<div class="text-center flex flex-col items-center gap-4">
    @if (Model.Id is null) {
        <h1 class="text-3xl lg:text-5xl font-bold text-primary-content">Welcome to Just Short It!</h1>
        <h2 class="text-xl lg:text-3xl font-bold text-secondary-content">The KISS single-user URL shortener!</h2>
        <a class="btn btn-primary btn-lg min-h-0 h-12" asp-page="Urls">Start shorting URLs</a>
    } else {
        <p class="text-error">@Model.ErrorMessage</p>
    }
</div>
