@page
@model JustShortIt.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="grid place-items-center h-full">
    <form class="text-primary-content w-full md:max-w-md" method="post">
        <h1 class="text-2xl lg:text-4xl mb-6">Login</h1>

        <div class="form-control w-full">
            <span class="label">
                <label class="label-text text-primary-content" asp-for="UserModel!.Username">Username</label>
            </span>
            <input required class="input input-bordered w-full" type="text" asp-for="UserModel!.Username" autocomplete="username" />
            <span class="label">
                <span class="label-text-alt text-error" asp-validation-for="UserModel!.Username"></span>
            </span>
        </div>
        <div class="form-control w-full">
            <span class="label">
                <label class="label-text text-primary-content" asp-for="UserModel!.Password">Password</label>
            </span>
            <input required class="input input-bordered w-full" type="password" asp-for="UserModel!.Password" autocomplete="current-password" />
            <span class="label">
                <span class="label-text-alt text-error" asp-validation-for="UserModel!.Password"></span>
            </span>
        </div>

        <div class="text-error pb-3" asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <button class="btn btn-primary w-full" type="submit">Login</button>
    </form>
</div>
