@page "/about"

<PageTitle>About - Just Short It</PageTitle>

<h1 class="text-3xl lg:text-5xl text-primary-content mb-6 font-light">About</h1>

<h2 class="text-2xl lg:text-4xl text-primary-content mb-3">Just Short It</h2>
<h3 class="text-xl lg:text-2xl text-secondary-content mb-3">The most KISS single user URL shortener there is.</h3>

<section class="flex flex-col gap-4">
    <p>
        <abbr title="Just Short It">JSI</abbr> is a simple web app that allows to 
        shorten links to your provided URL together with a short ID of your choosing.
    </p>

    <p>
        JSI is build on the principal of KISS and aims to provide this simple functionality
        in the most compact and easy way possible, which includes hosting the software.
        It can be as easy as just running the docker container, providing a URL, username 
        and password through the environment, and it is already ready to go. If the shortened
        URLs should be preserved then a redis connection can be provided.
    </p>

    <p>
        You can find more Information in Just Short It's 
        <a class="link hover:text-secondary-content" href="https://github.com/miawinter98/just-short-it" target="_blank">GitHub repository</a>.
    </p>

    <p>
        Just Short It is Licensed under the <a class="link hover:text-secondary-content" href="https://github.com/miawinter98/just-short-it/blob/main/LICENSE" target="_blank">MIT License</a>.<br />
        Just Short It has been created my <a class="link hover:text-purple-400" href="https://miawinter.de" target="_blank">Mia Rose Winter</a>.
    </p>
</section>

@code {

}
