<footer class="footer footer-center py-10 bg-primary text-secondary-content">
    <aside class="">
        <p>
            <a class="hover:link" href="https://github.com/miawinter98/just-short-it" target="_blank">Just Short it!</a> 
            by <a class="hover:link" href="https://miawinter.de/" target="_blank">Mia Winter</a>.
        </p>
        <p>
            <a class="hover:link" href="/about">About</a>
        </p>
    </aside>
</footer>
