<header>
    <nav class="navbar bg-primary text-primary-content p-0 min-h-0" aria-label="main navigation">
        <div class="flex-1">
            <a class="btn btn-ghost rounded-none px-6" href="https://github.com/miawinter98/just-short-it" target="_blank">
                <figure>
                    <img class="w-8 h-8" src="/img/jsi-logo.png" width="400" alt="" />
                </figure>
                Just Short It!
            </a>
        </div>
        <div class="flex-none mr-6">
            <LoginPartial />
        </div>
    </nav>
</header>
